.section {
  background-color: blue;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.conteiner {
  max-width: 1200px;
  margin: auto;
}

.search-form {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.search-form input[type='text'] {
  margin: 0;
  display: block;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 5px;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }
}

.search-form button[type='submit'] {
  margin: 0;
  display: block;
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }
}

.gallery {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.photo-card {
  width: calc((100% - 90px) / 4);
  border: 1px solid #eee;
  background-color: rgb(245, 244, 244);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }


}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  font-size: 12px;
}

.info-item > * {
  display: block;
  text-align: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: rgb(90, 90, 252);
  padding: 5px 20px;
  margin-bottom: 60px;

  text-transform: uppercase;

  color: #ffffff;
  &:hover,
  &:focus {
    background-color: rgb(41, 41, 250);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }
}
