.section {
  background-color: blue;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
.search-form {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.search-form input[type='text'] {
  margin: 0;
  display: block;
  border: none;
  border-radius: 4px 0px 0px 4px;
}
.search-form button[type='submit'] {
  margin: 0;
  display: block;
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.gallery {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.photo-card {
  width: 300px;
  border: 1px solid #000000;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info {
  display: flex;
  gap: 15px;
}

.info-item > * {
  display: block;
  text-align: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: blue;
  padding: 10px;
}
